<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    RewriteRule ^page(.*)$ /$1 [L]

    # Explicitly disable rewriting for front controllers
    RewriteRule ^app_dev.php - [L]
    RewriteRule ^app.php - [L]

    RewriteCond %{REQUEST_URI} "/setup/"

    RewriteRule (.*) $1 [L]
    #RewriteRule ^setup/.* - [L]

    RewriteCond %{REQUEST_FILENAME} !-f

    # Change below before deploying to production
    #RewriteRule ^(.*)$ app.php [QSA,L]
    RewriteRule ^(.*)$ app_dev.php [QSA,L]
    #RewriteRule ^(?:(?!api).)*$ app_dev.php [QSA,L]
        #RewriteRule ^api/.* - [L]
        #RewriteRule ^(.*)$ api/$1 [L]
</IfModule>

