{% extends 'HostkitClientBundle:Default:index.html.twig' %}

{% block title %}Support Ticket Details{% endblock %}

{% block clientcontent %}
    <section class="col-md-8">
	<div class="content-box">
        <h3>Support Tickets</h3>
                        {% if support is defined %}
                            <div class="message-read-only">
                                <h4>Your Message:</h4>
                                <p>{{ supportTicket.description }}</p>
                            </div>
                        {% endif %}
                        {% if supportTicket is iterable %}
                            <div class="message-read-only" style="width: 80%; margin: 15px 0 0 40px;">
                                <h4>Staff Answer:</h4>
                                <p>{{ support.description }}</p>
                            </div>
                        {% endif %}
                        </div>
						<br>
<br>
<div class="divider-line-narrow"></div>
<div class="content-footer">
<a href="{{ path('hostkit_client_support') }}">Back to Ticket overview</a>
</div>
						</section>

{% endblock %}
