{% extends 'HostkitAdminBundle:Default:index.html.twig' %}

{% block title %}Admin Interface - Support Ticket Details{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="widget">

                <div class="widget-head">
                    <div class="pull-left">Support Tickets</div>
                    <div class="widget-icons pull-right">
                        <a class="wminimize" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="wclose" href="#"><i class="icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="widget-content">

                    <div class="padd">
                            <h6>Support Ticket Details</h6>
                        <hr class="margin-top-bottom" />
                        {% if supportTicket.description is defined %}
                            <div class="message-read-only">
                                <h4>Client Message:</h4>
                                <p>{{ supportTicket.description }}</p>
                            </div>
                        {% endif %}
                        {% if support.description is defined %}
                            <div class="message-read-only" style="width: 80%; margin: 15px 0 0 40px;">
                                <h4>Staff Answer:</h4>
                                <p>{{ support.description }}</p>
                            </div>
                        {% endif %}
                        </div>

                    <div class="widget-foot">
                        <a href="{{ path('hostkit_xs_admin_support_tickets') }}">
                            <button class="btn btn-info">Back to Support Ticket overview</button>
                        </a>

                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
