{% extends 'HostkitAdminBundle:Default:index.html.twig' %}
{% form_theme form 'HostkitAdminBundle:Default:fields.html.twig' %}

{% block title %}Admin Interface - Email Management{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="widget">

                <div class="widget-head">
                    <div class="pull-left">Email Templates</div>
                    <div class="widget-icons pull-right">
                        <a class="wminimize" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="wclose" href="#"><i class="icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="widget-content">

                    <div class="padd">
                        {% if modify is defined %}
                            <h6>Modify Email Template</h6>
                        {% else %}
                            <h6>Add new Email Template</h6>
                        {% endif %}
                        <hr class="margin-top-bottom" />
                        <form action="" method="post" class="form-horizontal row-fluid" {{ form_enctype(form) }}>
						{{ form_rest(form) }}
                            <hr class="margin-top-bottom" />
                            <div class="form-group">
                                <div class="col-lg-offset-1 col-lg-9">
                                    {% if modify is defined %}
                                        <button class="btn btn-success" type="submit">Update Email Template</button>
                                    {% else %}
                                        <button class="btn btn-success" type="submit">Add Email Template</button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="widget-foot">
                        <a href="{{ path('hostkit_xs_email_list') }}">
                            <button class="btn btn-info">Back to Email Templates overview</button>
                        </a>

                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}