{% extends 'HostkitEmailBundle:Examples:basic.html.twig' %}

{% block contentTop %}
    {% if email.contentTop != '' %}
        <table class="row">
            <tr>
                <td class="wrapper last">

                    <table class="twelve columns">
                        <tr>
                            <td>
                                {% block contentTopInner %}
                                    {{ email.contentTop | raw }}
                                {% endblock %}
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}

{% block contentPanel %}
    {% if email.contentInner != '' %}
        <table class="row callout">
            <tr>
                <td class="wrapper last">

                    <table class="twelve columns">
                        <tr>
                            <td class="panel">
                                {% block contentPanelInner %}
                                    <p>{{ email.contentInner | raw }}</p>
                                {% endblock %}
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}

