{% extends 'HostkitClientBundle:Default:index.html.twig' %}

{% block content %}
<div class="span10">
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="{{ path('hostkit_client_hosting') }}">Hosting</a> <span class="divider">/</span>
            </li>
            <li>
                <a href="#">Dateiverwaltung</a>
            </li>
        </ul>
    </div>

    <div class="box span12">
        <div class="box-content">
            <div class="alert alert-info">
                <div id="file-manager-path"></div>
            </div>
            <div id="file-manager">
                <div class="file-manager-header">
                    <div class="file-manager-icon-box">
                        <div class="ico_bg"><span class="ico ico_new_file"></span></div>
                        <div class="ico_bg"><span class="ico ico_new_folder"></span></div>
                        <div class="ico_bg"><span class="ico ico_upload"></span></div>
                        <div class="ico_bg"><span class="ico ico_download"></span></div>

                        <div class="ico_bg left_mrg"><span class="ico ico_copy"></span></div>
                        <div class="ico_bg"><span class="ico ico_cut"></span></div>
                        <div class="ico_bg"><span class="ico ico_paste"></span></div>
                        <div class="ico_bg"><span class="ico ico_move"></span></div>
                        <div class="ico_bg"><span class="ico ico_edit"></span></div>
                        <div class="ico_bg"><span class="ico ico_delete"></span></div>

                        <div class="ico_bg left_mrg"><span class="ico ico_rename"></span></div>
                        <div class="ico_bg"><span class="ico ico_change_permission"></span></div>

                        <div class="ico_bg left_mrg"><span class="ico ico_compress"></span></div>
                        <div class="ico_bg"><span class="ico ico_uncompress"></span></div>
                    </div> 
                    <div class="search"></div>
                </div>
                <div class="file-manager-window">
                    <ul id="file-manager-folders"></ul>
                    <ul id="file-manager-files"></ul>
                    <div class="clear"></div>
                </div>

            </div>
            <script type="text/javascript">
                var file_manager = 1;
            </script>
            </div>
        </div>

    </div>
{% endblock %}