{% extends 'HostkitClientBundle:Default:index.html.twig' %}

{% block content %}
    <div class="span10">
        <div>
            <ul class="breadcrumb">
                <li>
                    <a href="{{ path('hostkit_client_hosting') }}">Hosting</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Speicherplatz</a>
                </li>
            </ul>
        </div>

        <div class="box span12">
            <div data-original-title="" class="box-header well">
                <h2><i class="icon-th-list"></i> Speicherplatz</h2>

                <div class="box-icon">
                    <a class="btn btn-minimize btn-round" href="#"><i class="icon-chevron-up"></i></a>
                    <a class="btn btn-close btn-round" href="#"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                {% if usages is defined %}
                    {{ usages |raw }}
                {% endif %}
            </div>
        </div>

    </div>
    <script type="text/javascript">
        var hosting = 'set';
    </script>
{% endblock %}