{% extends 'HostkitShopBundle:Default:index.html.twig' %}

{% block content %}
    <div id="content">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="login-box" style="margin-top: 90px;">
                        <h4>Login Panel</h4>
						<hr/>
                        <section>
                            {% if error %}
                                <div class="message notice">
                                    <div>{{ error }}</div>
                                </div>
                            {% endif %}
                            <form action="{{ path("fos_user_security_check") }}" method="post" class="clearfix" id="loginform" role="form">
							<div class="form-group">
								<label for="exampleInputEmail1">Username</label>
								<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Password</label>
								<input type="password" id="password" name="_password" class="form-control" />
							  </div>
							  <div class="form-group">
							  <button class="btn btn-primary" type="submit">Login</button>
							  </div>
                            </form>
                    </div>
                </div>
            </div>

	

{% endblock %}
