body {
    background: #F5F5F5;
}

a {
    border: none;
    outline: none;
}

.navbar-inverse {
    background: #76C7C0;
    border-color: #66B7B0;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #66B7B0;
}

.jumbotron {
    background: url(../images/890.jpg) no-repeat center center scroll;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    /*background: #282C30;*/
    height: 448px;
    border-bottom: 3px solid #ADADAD;
    position: relative;
    padding: 0;
    color: #fff;
    text-align: center;
}

.black-overlay {
    background: #282C30;
    width: 100%;
    height: 448px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    padding: 100px 30px 30px 30px;
}

.btn-custom {
    background: #E8645A;
    background-repeat: repeat-x;
    border-color: #E8645A;
    border-radius: 0;
    color: #fff;
}

.featured-packages .col-lg-3 {
    background: #fff;
    border-top: 2px solid #DCDCDC;
    border-bottom: 2px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    height: 500px;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.featured-packages .col-lg-3:last-of-type {
    border-right: 2px solid #DCDCDC;

}

.featured-packages .fa {
    font-size: 90px;
    color: #76C7C0;
    text-shadow: #6CB2AB 1px 1px 1px;
    margin: -30px 0 10px 0;
}

.featured-packages h2 {
    padding-top: 0;
    margin-top: 0;
}

.featured-packages h1 {
    background: #f9f9f9;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 22px;
    padding: 20px 0;
    margin: 0;
    font-weight: bold;
    color: #666;
}

.featured-packages h1 span {
    font-size: 26px;
    margin: 10px 0 0;
    color: #6AAAA6;
    display: block;
}

.featured-packages ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.featured-packages ul li {
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #f9f9f9;
    color: #777;
}

.featured-packages .col-lg-3:hover {
    border-top: 2px solid #6AAAA6;
    border-bottom: 2px solid #6AAAA6;
}

.featured-packages .col-lg-3:hover h1 {
    background: #6AAAA6;
    color: #fff;
}

.featured-packages .col-lg-3:hover h1 span {
    color: #fff;
}

.featured-packages .btn {
    margin: 20px auto 0 auto;
    display: inline-block;
}

.domainbox {
    background: #000;
    width: 80%;
    height: 200px;
    margin: 80px auto 0 auto;
    padding: 20px 0 0 0;
}

.domainbox .form-control {
    color: #000;
}

.domainbox .form-control {
    border-radius: 0;
    width: 320px;
}

.domainbox .btn-custom {
    margin: 4px 0 0 0;
    line-height: 2.05;
    padding: 12px;
    vertical-align: bottom;
}

.result {
    font-size: 16px;
    margin: 20px 0 0 0;
}

.domainbox .btn-success {
    border-radius: 0;
    margin: 0 0 0 15px;
}

.content {
    margin-top: 80px;
}

.accordion-close {
    background: #fff;
}

.accordion {
    background: #fff;
    line-height: 30px;
    padding: 15px;
    border: 1px solid #eee;
    margin-top: 10px;
    color: #7F8C8C;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.accordion i {
    margin: 0 15px 0 0;
}

.accordion-content {
    background: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px;
    margin-bottom: 10px;
}

.news .col-lg-4 {
    background: #fff;
    width: 30%;
    min-height: 450px;
    margin: 0 10px 10px 10px;
    padding: 0 25px 25px 25px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background: #66B7B0;
}

.margin-top {
    margin-top: 75px;
}

.table-pricing tr td:not(:first-child), .table-pricing tr th:not(:first-child) {
    text-align: center;
    width: 15%;
}

#searchbox {
    background: #66B7B0;
    width: 100%;
    height: 250px;
    padding: 60px 0 0 30px;
    color: #fff;
    text-align: center;
}

#searchbox input {
    width: 60%;
    height: 40px;
    border: 1px solid #eee;
    padding: 0 15px;
    margin: 15px 0;
}

#searchbox button {
    height: 40px;
    margin: 0;
}

/**** order **********/
.show {
    background: url(../images/icons/show.png) no-repeat;
    width: 24px;
    height: 24px;
    float: right;
    margin: 9px 9px 0 0;
    cursor: pointer;
}

.hide {
    background: url(../images/icons/hide.png) no-repeat;
    width: 24px;
    height: 24px;
    float: right;
    margin: 9px 9px 0 0;
    cursor: pointer;
    display: inline-block;
}

.box-order section {
}
/*
.box-order table {
    width: 98%;
    margin: 15px auto;
}

.box-order table tr th, .box-order table tr td {
    padding: 1px 4px;
}

.box-order table tr {
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
    margin: 5px 0;
    text-align: left;
    line-height: 30px;
}

.box-order table tr td:nth-child(1), th:nth-child(1), td:nth-child(2), th:nth-child(2), td:nth-child(3), th:nth-child(3) {
    border-right: 1px solid #eee;
}
*/
.box-order #amount {
    float: right;
    margin: 10px 5px 20px 0;
    font-weight: bold;
}

.order-button {
    width: 185px;
    float: left;
}

.box-order .label_check, .box-order .label_radio {
    padding-left: 34px;
    clear: both;
    margin: 10px 0;
    display: block;
}

.domain {
    height: 55px !important;
    padding: 8px;
}

.box-order .btn:first-child {
    border-radius: 0 4px 4px 0;
}

.box-order .btn-primary {
	clear: both;
	float: left;
    margin: 20px 0 0 0;
	padding: 10px 20px;
}

.box-order .label_radio {
    background: url(images/radio-off.png) no-repeat;
}

.box-order .label_check {
    background: url(images/check-off.png) no-repeat;
}

.box-order label.c_on {
    background: url(images/check-on.png) no-repeat;
}

.box-order label.r_on {
    background: url(images/radio-on.png) no-repeat;
}

.box-order .label_check input, .box-order .label_radio input {
    position: absolute;
    left: -9999px;
}

.box-order .clearfix {
    margin: 10px 0;
}

.box-order .radio {
    margin: 0 0 30px 0;
}

.box-order input[type="text"], .box-order input[type="password"] {
    background: none;
    width: 299px;
    height: 35px;
    border: 1px solid #e6e6e6;
    float: left;
}

.box-order .checkout input {
    width: 350px;
    margin: 10px 0;
}

textarea {
    width: 550px;
    min-height: 180px;
    margin: 10px 0;
}

.box-order .bootstrap-select:not([class*="span"]) {
    width: 120px;
    float: left;
}

#registerdomain {
	margin: 0 0 0 20px;
}

#registerdomain .btn-inverse {
    margin: 0 0 0 20px;
}

.box-order .btn-inverse {
    padding: 16px 36px;
}

.bootstrap-select .btn {
    width: 120px;
    height: 56px;
}

.result .icon-ok {
    margin: 0 8px 0 0;
}

.result .price {
    margin: 0 0 0 50px;
    color: #8AC53E;
    font-size: 22px;
    font-weight: bold;
}

.result .price .small {
    color: #999;
    font-size: 12px;
}

.box-order a, .box-result a {
    color: #fff;
}

.box-result {
	margin: 15px 0 90px 75px;
}

.box-result .btn {
	margin: 0 0 0 10px;
}

.result .btn-inverse {
    margin: 0 0 0 50px;
}

.order-button .btn-inverse {
    padding: 8px 30px;
}

.box-order {
    background: #fff;
    width: 80%;
    position: relative;
    margin: 80px 0 30px 40px;
    padding: 20px;
    border-radius: 3px;
}

.box:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    border-radius: 4px;
}

.box h1, .box-order h1 {
    width: 100%;
    height: 50px;
    padding: 10px 0 0 0;
    margin: -20px 0 21px 0;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
}

.box-order-content {
    position: relative;
}

.box-order h1 {
    border-radius: 3px 3px 0 0;
}

.box h1 {
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
}

.box p, .box-order p {
    margin: 20px 0 0;
    clear: both;
}

.box p:first-child, .box-order p:first-child {
    margin-top: 0;
}

.box-order p input[type=radio], .box-order p label {
    height: 20px;
    float: left;
    display: table-cell;
    vertical-align: middle;
    margin: 0 20px 15px 0;
}

.box p.remember_me {
    float: left;
    line-height: 31px;
}

.box p.remember_me label {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

.box p.remember_me input {
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
}

.box p.submit {
    text-align: right;
}

.box-order .dot {
    width: 10px;
    float: left;
    margin:  18px 0 -15px 0;
    font-size: 34px;
}

.domainbox {
    background: #000;
    width: 80%;
    height: 200px;
    margin: 80px auto 0 auto;
    padding: 20px 0 0 0;
}

.domainbox .form-control {
    color: #000;
}

.domainbox .form-control {
    border-radius: 0;
    width: 320px;
}

.domainbox .btn {
    margin: 4px 0 0 0;
}

.result {
    font-size: 16px;
    margin: 20px 0 0 0;
}

.domainbox .btn-success {
    border-radius: 0;
    margin: 0 0 0 15px;
}

.relative {
    position: relative;
}

#cart {
    width: 300px;
    color: #666;
    border: 2px solid #76C7C0;
}

#cart h4 {
    padding: 0 0 8px 0;
    border-bottom: 2px solid #76C7C0;
}

.box-order h4 {
	margin: 15px 0 30px 0;
}

.nobg {
	background: none !important;
	border: none !important;
}

form h5 {
	width: 480px;
	margin: 0 0 10px 132px;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	padding: 0 0 10px 0;
}

.box-order-content select {
	width: 299px;
	border: 1px solid #E6E6E6;
}

.round {
	border-radius: 4px !important;
	margin: 0;
}

.page .row {
	padding: 0 20px;
}

.footer_nav {
	float: right;
}

.footer_nav a:not(:last-child) {
	border-right: 1px solid #ddd; 
	padding: 0 5px 0 0;
}

.table-review tbody tr td:first-child {
	font-weight: bold;
}

.table-pricing tbody tr td:last-child {
	width: 115px;
}

.pricingBox {
	width: 228px;
	min-height: 120px;
	float: right;
}

.pricingBox #total {
	background: #eee;
	width: 200px;
	min-height: 40px;
	border: 1px solid #ddd;
	color: #555;
	padding: 9px 0 0 10px;
	font-weight: bold;
	position: relative;
}

.pricingBox #total span {
	position: absolute;
	right: 16px;
    top: 9px;
}

.pricingBox #subTotal {
	width: 200px;
	min-height: 20px;
	padding: 0 0 0 10px;
	position: relative;
}

.pricingBox #subTotal span {
	position: absolute;
	right: 16px;
    top: 0;
}

.pricingBox #tax {
	width: 200px;
	min-height: 20px;
	padding: 0 0 0 10px;
	position: relative;
}

.pricingBox #tax span {
	position: absolute;
	right: 16px;
    top: 0;
}

.black-overlay p {
	width: 800px;
	margin: 30px auto;
}

.box-order .table-pricing {
	border-bottom: 1px solid #EEEEEE;
}

.box-order .form-control {
	width: 299px;
	border: 1px solid #E6E6E6;
	float: left;
	margin: 0 5px 0 0;
}

.form-group .error {
	color: red;
	float: left;
	font-weight: normal;
	line-height: 29px;
}

input[type="radio"], input[type="checkbox"] {
    width: 30px;
}

#termsandconditions {
    background: none repeat scroll 0 0 #FFFFFF;
    max-width: 700px;
    max-height: 350px;
    margin: 40px auto;
    padding: 20px 30px;
    position: relative;
    text-align: left;
    overflow: scroll;
    color: #666 !important;
}

#termsandconditions p {
    margin: 0;
}

#termsandconditions .fa {
    margin: 0 0 0 15px;
    display: inline-block;
}

footer {
    margin:  0 0 20px 0;
}

.errormsg {
    margin: 0 0 20px 0;
    color: red;
}

.row-faq {
    clear: both;
}

.row-faq .heading {
    float: left;
}

.row-faq .btn-group {
    float: right;
    margin: 10px 0 0;
}

.row-faq hr {
    margin-top: 5px;
}

.faq-list li {
    cursor: pointer;
}

.faq-list li:hover {
    text-decoration: underline;
}

.navbar-collapse .actions {
    float: right;
}
