{% extends 'HostkitShopBundle:Cart:step_1_domain.html.twig' %}



                    {% block stepcontent %}
<div id="one" class="padding-top">
    <div class="box-order">
        <h4> Order Placed »</h4>

        <p>Thank you for your order!</p>
        </div>
    </div>
{% endblock %}