{% extends 'HostkitClientBundle:Default:index.html.twig' %}

{% block clientcontent %}
    <section class="col-md-8" id="colorNav">
        <ul>
            <li class="blue">
                <a class="fa fa-envelope" href=""></a>

                <p>Manage E-Mail Accounts</p>
            </li>
            <li class="blue">
                <a class="fa fa-mail-forward" href=""></a>

                <p>Mail Forward</p>
            </li>
            <li class="blue">
                <a class="fa fa-hdd-o" href=""></a>

                <p>Webspace</p>
            </li>
            <li class="blue">
                <a class="fa fa-road" href=""></a>

                <p>Website Forwarding</p>
            </li>
            <li class="blue">
                <a class="fa fa-globe" href=""></a>

                <p>Subdomains</p>
            </li>
            <li class="blue">
                <a class="fa fa-cogs" href=""></a>

                <p>DNS Management</p>
            </li>
        </ul>
    </section>
{% endblock %}