{% extends 'HostkitClientBundle:Default:index.html.twig' %}

{% block clientcontent %}
    <section class="col-md-8">
        <div class="content-box">
            <h3>Packages Overview</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Package</th>
                    <th>Package Domain</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if activeItems is iterable %}
                    {% for activeItem in activeItems %}
                        <tr>
                            <td>{{ activeItem.id }}</td>
                            <td>{{ activeItem.packageId }}</td>
                            <td>{{ activeItem.packageDomain }}</td>
                            {% if activeItem.status == 3 %}
                                <td>Activ</td>
                            {% else %}
                                <td>Inactiv</td>
                            {% endif %}
                            {% if activeItem.status == 3 %}
                                <td><a href="http://{{ server.ipAddress }}:2082" target="_blank"><span
                                                class="label label-success">Login</span></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}